@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('../public/Background\ abstrak\ en\ 2022\ |\ Plantillas\ para\ diapositivas\,\ Plantillas\ de\ fondo\ de\ powerpoint\,\ Plantillas\ power\ point\ gratis.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: beige;
  }
}